<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Perfomance</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <h1>Student Perfomance</h1>
    </header>
    <main role="main">
        <div>
            @RenderBody()
        </div>
    </main>

    <footer>
        <div>
            &copy; 2020 - Student Perfomance
        </div>
    </footer>
</body>
</html>
